.image{
   height: 180px;
   width: 300px;
}

.bg-container{
    background-color: #f5f7fa;
}

.number{
    color:black;
    background-color: #cbd2d9;
    border-radius: 8px;
    border-width: 8px;
    border-color: #e4e7eb;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 20px;
}


.operator{
   color:#c4c4c4;
   font-size:28px;
   font-family: "Roboto";
}

.result{
    color:#ffffff;
    font-size: 20px;
    font-weight: 700;
    font-family: "Roboto";
    background-color: #f5f7fa;
}

.user-input{
    width: 150px;
    height: 70px;
    text-align: center;
    font-family: "Roboto";
    font-size: 20px;
    background-color: #cbd2d9;
    color:#323f4b;
    border-radius: 8px;
    border-color: #e4e7eb;
    border-width: 8px;
    margin: 20px;
}



