
.bg{
    display: flex;
    padding: 10px;
}

.sidebar{
    background-color: #002159;
    height: 120vh;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.heading{
    color: #ffffff;
    font-size: 26px;
    font-family: "Roboto";
    font-weight: bold;
}

.desc{
    color: #ffffff;
    font-size: 18px;
    font-family: "Roboto";
    font-weight: 400;
}

.img{
    width: 40px;
    border-radius: 50%;
    padding-left: 10px;
}
.profile{
    display: flex;
    align-self: flex-end;
    margin-top: auto;
}

.main-list{
    list-style-type: none;
    gap:4px;
}

.main-list li{
    color: #ffffff;
    font-size: 14px;
    font-family: "Roboto";
    margin-top: 10px;
}
.active{
    background-color: #296eff;
    padding: 10px;
}

.content-card{
    background-color: #ffffff;
    height: 100vh;
    padding: 10px;
}

.head{
    color: #002159;
    font-family: "Roboto";
    font-size: 25px;
    font-weight: 400;
}

.headd{
    color: #002159;
    font-family: "Roboto";
    font-size: 17px;
    font-weight: 200;
    margin-top: 10px;
}

.carr{
    width: 100px;
    border-radius: 10px;
    padding: 10px;
    flex-wrap: wrap;
}
