.bg-container{
    height: 100vh;
    padding: 20px;
}

#wordsContainer{
    margin-top: 20px;
    padding: 10px;
    margin-left: auto;
}

.error-msg{
    color:brown;
    text-align: center;
    font-family: "Roboto";
    font-size: 20px;
}

.user-input{
    width: 60%;
    height: 40px;
    padding: 10px;

}

.button{
    color:white;
    font-size: 10px;
    width: 100px;
    background-color: black;
    height: 40px;
    margin: 10px;
    border-radius: 10px;
}