.container{
    background-image: url(" https://d2clawv67efefq.cloudfront.net/ccbp-static-website/foodbg.png");
    height: 100vh;
    padding: 10px;
    background-size: cover;
}

.heading{
    color:black;
    font-size: 24px;
    padding: 10px;
    font-family: sans-serif;
    font-weight: 700;
}

.description{
    color:black;
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.button{
    background-color: aliceblue;
    color:black;
    font-size: 10px;
    height:38px;
    width:100px;
    border: none;
    border-radius: 9px;
    padding: 10px;
    margin: 10px;
}

.card{
    background-color: #f6c56e;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background-size: cover;
    text-align: left;
    color:#232f4b;
    padding: 20px;
    font-weight: bold;
}


